.displaycart-wrap__content {
        margin-top: 5px;
        border: 1px solid #D1D3D6;;
        display: none;
        justify-content: center;
        padding: 5px;
      }
      
      .displaycart-wrap__show {
        display: flex;
      }